.title {
    background-color: black;
    text-align: center;
    color: white;
}

img {
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
* {
    font-family: sans-serif;
    background: rgb(250, 232, 133);
}
 
.text {
    font-size: 24px;
}

.text.tax {
    color: blueviolet;
    
}